body {
    padding: 0px;
    margin: 0px;

    font-family: sans-serif;
}

img {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    border-bottom: 5px solid grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;

    
}

.hero {
    padding-top: 8rem;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: -1rem;

}

.herograb {
    object-fit: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    bottom: -1rem;

}

.container {
display: flex;

background-image: url("assets/bilder/pexels-rodnae-productions-5898587.jpg");
background-attachment: fixed;
}

.box {
width: 800px; 

margin: 0px auto 50px auto;
background-image: url("woodwall.jpg");       
}

.menu {
display: flex;
justify-content: space-between;
padding-left: 50px;
padding-right: 50px;
padding-top:50px;
}

.navigation {
display: flex;
flex-flow: row wrap;
justify-content: flex-end;
text-transform: uppercase;
font-size: 25px;
color: white;
}

.navLogo, .navLogo2 {
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
} 

.breaker {
margin-left: 1rem;
margin-right: 1.5rem;
}

.header {
/* min-height: 300px; */
text-align: center;
padding-top:.6rem;
padding-bottom: -.6rem;

text-align: center;

}

a {
color:white;
text-decoration: none;
}

ul {
padding: 10px;
margin: 0px;
font-family: Arial, Helvetica, sans-serif;
}

li {
list-style: none;
padding-right: 10px;

}

.row {
display:flex;
flex-flow: row wrap;
}

.image {
height:400px;
width: 560px;
background-size: cover;
}

.text {
height:350px;
width: 220px;
text-align: center;
justify-content: center;
align-items: center;
background-color:#F6921E;
padding: 50px 10px 0px 10px;
color: white;
/* background-image: url("text_bg.png"); */
}

.text p {
    text-shadow: 0 0 0.5em #ED1C24, 0 0 0.5em #ED1C24,
        0 0 0.5em #ED1C24;
    font-size: 1.3rem;
    /* max-width: 200px; */
}

button {
    width: 6rem;
    height: 3rem;
    border: 3px solid black;
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 25px;
    background-color: red;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.textimage {
    width: 100%;
    height: auto;
}

.full-image {
height:250px;
width: 100%;
background-size: cover;
}

.text h3 {
margin-bottom: 0px;
}



h1, h2, h4 {
font-family: 'Lobster', cursive;
}

.footer {
    display: flex;
background-color: black;
color: white;
align-items: center;

padding-left: 2rem;
padding-right: 5rem;
height: 10rem;


}

.footerContent {
padding: 1rem, 0rem, 1rem, 0rem;    
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;



}

.footerContent p {
    font-size: 1.3rem;
}

.footerSocial {
text-align: right;
}

@media all and (max-width: 1000px) {
    .navLogo2 {
        display: none;
    }
}    

@media all and (max-width: 800px) {
    .text, .image {
        flex: 100% ;
    }

.text { order: 1; }
.image { order: 2; }

.box {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navLogo2 {
    display: none;
}

}
